<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirmar cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0; background-color: #f2f2f2">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f2f2f2; padding: 20px 0"
    >
      <tr>
        <td align="center">
          <table
            width="450"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              border: 1px solid #dddddd;
              padding: 20px;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              color: #212529;
            "
          >
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 50px; line-height: 60px">
                Confirma nueva
                <br />
                direccion de correo
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 16px; line-height: 24px">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati maxime illo quam laudantium nobis. Ratione, saepe? Aut
                cupiditate molestias, aliquam cum alias ab non sunt rem quae
                accusantium nostrum eos.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 50px">{{otp}}</td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td align="center" bgcolor="#000000">
                      <a
                        href="{{domain}}/confirm-email?otp={{otp}}"
                        target="_blank"
                        style="
                          display: inline-block;
                          padding: 12px 24px;
                          font-size: 16px;
                          color: #ffffff;
                          text-decoration: none;
                        "
                      >
                        Confirmar email
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 20px">
                Si no eres el dueno de la cuenta o no solictaste este cambio de
                correo electronico, por favor ignora este mensaje. No es
                necesario que realices ninguna otra acción.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 24px">
                Especificaciones
              </td>
            </tr>
            <tr>
              <td height="2"></td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Plantilla: changeEmailRequestTemplate.hbs
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Directorio: src/views/email
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Autor: Carlos Daniel Menchaca Arauz
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Entorno: Desarrollo
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Fecha: 15/04/2025
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>