<html>
  <head>
    <meta charset="UTF-8" />
    <title>Recuperar contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 0; background-color: #f2f2f2">
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      style="background-color: #f2f2f2; padding: 20px 0"
    >
      <tr>
        <td align="center">
          <table
            width="450"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              background-color: #ffffff;
              border: 1px solid #dddddd;
              padding: 20px;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              color: #212529;
            "
          >
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 50px; line-height: 60px">
                Recupera tu
                <br />
                contraseña
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 16px; line-height: 24px">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dolorum cupiditate hic quisquam ab reprehenderit, voluptas
                labore quam voluptatum, accusamus aliquam excepturi sequi quis
                dolores ullam nulla accusantium, debitis et sed.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 50px">{{otp}}</td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td align="center" bgcolor="#000000">
                      <a
                        href="{{domain}}/reset-password?otp={{otp}}"
                        target="_blank"
                        style="
                          display: inline-block;
                          padding: 12px 24px;
                          font-size: 16px;
                          color: #ffffff;
                          text-decoration: none;
                        "
                      >
                        Cambiar contraseña
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 20px">
                Si no solicitaste cambiar tu contraseña, simplemente elimina
                este correo electrónico. No tienes que hacer nada.
              </td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #dddddd"></td>
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td style="font-size: 14px; line-height: 24px">
                Especificaciones
              </td>
            </tr>
            <tr>
              <td height="2"></td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Plantilla: forgotPasswordTemplate.hbs
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Directorio: src/views/email
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Autor: Carlos Daniel Menchaca Arauz
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Entorno: Desarrollo
              </td>
            </tr>
            <tr>
              <td style="font-size: 12px; line-height: 20px">
                Fecha: 23/03/2025
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>